.mainPic {
  height: 28rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.1) 0%, rgba(4, 3, 5, 1) 100%),
  url('../../../public/images/picMain.png');
}

.mainPic:hover {
    transform: scale(1.03);
    transition: all 2s ease-in;
}
